.container{
    font-family: Arial, Helvetica, sans-serif;
      max-width: 300px;
      margin: auto;
      background-color: aliceblue;
      padding: 20px;
      border-radius: 10px;
}

input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
}

h1{
    background-color: darkseagreen;
    border-radius: 10px;
    font-size: 22px;
    padding: 5px;
    color: gray;
    text-align: center;
}

#resultado{
    color:  brown;
   font-size:  20px;
   background-color: azure;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}